body, html{
    height: 100%;
}
.bg{
    background-color: #F2EEE9;
    height:100%;
}
.title-img{
    background-image: url(images/odin-recipes-title.png);
    height: 15em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    object-fit: cover;
    width: 20em;
    margin: 0 auto;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}