body, html{
    height: 100%;
}
.bg{
    background: linear-gradient(180deg,#F2EEE9, #c2afc5);
    height:100%;
}
.title-img{
    background-image: url(images/odin-recipes-title.png);
    height: 15em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    object-fit: cover;
    width: 20em;
    margin: 0 auto;
}

.footer{
    background-image: url(images/odin-footer.png);
    height: 7em;
    width: 15em;
    justify-content: right;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    right: 0px;
    bottom:0px;
}