body, html{
    height: 100%;
}
.bg{
    background: #F2EEE9;
    height:100%;
}

.title-img{
    background-image: url();
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}